.App {
  padding: 1.64em;
  background-color: #f2f5f9;
  .ant-typography {
    margin-top: 0em;
    gap: 83px;
  }
  .ant-row {
    .ant-col {
      background-color: white;
      border-radius: 0.5em;
    }
    .leftSide {
      .leftSideHeader {
        display: flex;
        justify-content: space-between;
        .titleHeader {
          padding-left: 1em;
        }
        .iconHeader {
          margin-right: 1em;
        }
      }
      .ant-space {
        .ant-space-item {
          .ant-typography {
            margin-top: 1em;
          }
          .anticon svg {
            color: #737373;
            font-size: 1.5em;
          }
          .ant-input-group-wrapper {
            margin-left: 1em;
            border-radius: 50px;
            background-color: #fafafb;

            .ant-input {
              background-color: #fafafb;
              border-radius: 50px;
              border: 0;
            }
            .ant-input-group-addon {
              border-radius: 50px;
              background-color: #fafafb;

              .ant-btn {
                background-color: #5773cc;
                border-radius: 50px;
                .anticon svg {
                  color: white;
                  font-size: 1em;
                }
              }
            }
          }
        }
      }
      .ant-tabs {
        width: 100%;
        .ant-tabs-nav {
          padding-left: 2em;
          .ant-tabs-tab {
            width: 50%;
          }
        }
        .ant-list-item-meta-title {
          margin: 4px;
        }
      }
    }
    .main {
      margin-left: 2em;
      .mainHeader {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        .titleHeader {
          display: flex;
          padding-left: 1em;
          .ant-avatar {
            margin-right: 1em;
            height: 4em;
            width: 4em;
          }
        }
        .buttonHeader {
          margin-right: 1em;
          .ant-btn {
            border-radius: 25px;
            margin: 0.3em;
          }
        }
      }
      .mainMessage {
        display: flex;
        flex-direction: column;

        .titleMessage {
          display: flex;
          padding-left: 1em;
          .ant-avatar {
            margin-right: 1em;
            height: 4em;
            width: 4em;
          }
          .lastMessage {
            background-color: #f6f8f9;
            padding: 0.5em 20em 0.5em 1em;
            border-radius: 25px;
          }
        }
      }
    }
  }
}

.ant-modal {
  .ant-modal-close-x {
    .anticon {
      background-color: #5773cc;
      border-radius: 50px;
      color: white;
      padding: 0.3em;
    }
  }
  .ant-typography {
    margin: 0;
  }
  .ant-divider {
    margin: 0.1em;
  }
  .ant-btn {
    width: 100%;
  }
  .ant-select-arrow {
    color: black;
  }
  .ant-input{
    background-color: #f4f7fa;
    border: 0;

  }
  .css-dev-only-do-not-override-1n7nwfa
    .ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector {
    background-color: #f4f7fa;
    border: 0;
  }
}
